<input class="form-control" type="text" placeholder="Buscar planeta..." style="width: 255px;"
name="filterPost" [(ngModel)]="filterPost">

<div class="d-flex flex-wrap">
    <div style="margin:10px" *ngFor="let item of datosArray | filter:filterPost">
        <div class="card" style="width: 300px;">
            <img class="card-img-top" style="width: 100px; height: 100px; margin: 10px;" [src]="item.imagen">            
            <div class="card-body">
                <h5 class="card-title"> {{ item.instrumento }} </h5>
                <div *ngIf="item.costoEnvio==='G'" style="color: #3cb21b"> Envio a Todo el País </div>
                <div *ngIf="item.costoEnvio!=='G'" style="color: #ec7a2c"> Costo Envio Interior De Argentina ${{ item.precio }} </div>
                <div> Vendidos: {{ item.cantidadVendida }} </div>
                <hr/>
                <a class="btn btn-dark" (click)="detalle(item.id)"> Detalle </a>
            </div>
          </div>
    </div>
</div>