<div style="margin:10px">
    <div class="card" style="width: 600px;">                   
        <div class="card-body">
            <img class="card-img-top" style="width: 150px; height: 150px; margin:10px;" [src]="jsonData.imagen">
            <h5 class="card-title"> {{ jsonData.instrumento }} </h5>
            <div *ngIf="jsonData.costoEnvio==='G'" style="color: #3cb21b"> Envio a Todo el País </div>
            <div *ngIf="jsonData.costoEnvio!=='G'" style="color: #ec7a2c"> Costo Envio Interior De Argentina ${{ jsonData.precio }} </div>
            <div> Vendidos: {{ jsonData.cantidadVendida }} </div>
            Descripción:
            <div> {{ jsonData.descripcion }} </div>
            <hr/>
            <a class="btn btn-dark" href="/">Volver</a>            
        </div>
    </div>
</div>